

@font-face {
  font-family: 'GT Eesti Pro Text';
  src: url('../../fonts/GTEestiProText-Light.woff2') format('woff2'),
  url('../../fonts/GTEestiProText-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'GT Eesti Pro Text';
  src: url('../../fonts/GTEestiProText-Bold.woff2') format('woff2'),
  url('../../fonts/GTEestiProText-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'GT Eesti Pro Text';
  src: url('../../fonts/GTEestiProText-Regular.woff') format('woff2'),
  url('../../fonts/GTEestiProText-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'GT Eesti Pro Text';
  src: url('../../fonts/GTEestiProText-Medium.woff') format('woff2'),
  url('../../fonts/GTEestiProText-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}