:root {
  --general-font: "GT Eesti Pro Text";

  --font-size: 12px;


  --text-color: #000000;
  --text-color-accent: #EF7918;
  --green: #07A03A;
  --yellow: #FAB72D;
  --orange: #EF7918;
  --red: #E42313;


}