@import "fonts";
@import "vars";
@import "default";
@import "header";

body {
  font-family: var(--general-font);
  font-weight: 300;

}

.intro {
  margin-top: 5rem;

  &__info {
    gap: .1rem;
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 300;
    flex-basis: 73%;
    max-width: 1040px;
  }

  &__decor {
    position: relative;
    width: 6.6rem;
    height: 6.8rem;
    background-color: var(--green);

    img {
      position: absolute;
      top: 1rem;
      right: -2.2rem;
    }
  }

  &__bottom {

  }
}

.projects {
  & + & {
    margin-top: 110px;
  }
  img {
    width: 100%;
    height: 100%;
    object-position: left top;
  }
}

.item-description {
  padding: 0 3.5rem;
}

.item-picture_top
  //.item-picture_bottom
{
  //overflow: hidden;

  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.item-name {
  font-size: 1.7rem;
  font-weight: 500;
}

.item-description {
  &_d {
    display: none;
  }

  &_m {
    transform: translateY(-15px);
  }
}

.item-picture_bottom {
  transform: translateY(-30px);
  display: flex;
  gap: 1.5rem;
}

/*.item-1 {
  margin-top: 7.8rem;
  //.item-picture_top {
  //  max-width: 65%;
  //  min-height: 135px;
  //  img {
  //
  //  }
  //}
  //.item-picture_bottom {
  //  margin-left: auto;
  //  //max-width: 65%;
  //  //transform: translateY(-30px);
  //  min-height: 172px;
  //
  //  flex-direction: row-reverse;
  //
  //  img {
  //    position: relative;
  //    flex: 0 0 65%;
  //  }
  //}

  .item-name {
    position: absolute;
    top: 1rem;
    left: 5rem;
    max-width: 300px;
  }
}

.item-2 {
  margin-top: 7.8rem;
  //.item-picture_top {
  //  max-width: 75%;
  //  min-height: 159px;
  //  margin-left: auto;
  //}
  //.item-picture_bottom {
  //  //transform: translateY(-30px);
  //  min-height: 172px;
  //  //display: flex;
  //  //flex-direction: row;
  //  //gap: 1.5rem;
  //  img {
  //    position: relative;
  //    flex: 0 0 65%;
  //  }
  //}

  .item-name {
    position: absolute;
    top: 0.5rem;
    left: 5rem;
    max-width: 300px;
    padding-right: 1rem;
  }
}

.item-3 {
  margin-top: 6rem;
  //.item-picture_top {
  //  max-width: 73%;
  //  min-height: 171px;
  //  margin-left: auto;
  //}
  //.item-picture_bottom {
  //  transform: translateY(-75px);
  //  img {
  //    flex: 0 0 35%;
  //    min-height: 144px;
  //  }
  //}
  .item-name {
    position: relative;
    padding-left: 5rem;
    max-width: 320px;
  }

  .item-pictures {
    margin-top: 3rem;
  }

  .item-description {
    &_m {
      transform: translateY(-65px);
    }
  }
}

.item-4 {
  margin-top: 7.8rem;

  .item-picture_top {
    max-width: 65%;
    min-height: 135px;
  }

  .item-picture_bottom {
    margin-left: auto;

    img {
      min-height: 120px;
    }

    flex-direction: row-reverse;

    img {
      position: relative;
      flex: 0 0 65%;
    }
  }

  .item-name {
    position: relative;
    padding-left: 5rem;
    max-width: 320px;
  }
}*/

.item {
  margin-top: 7.8rem;

  &::after {
    content: "";
    position: absolute;
    height: 30px;
    display: block;
    background-color: var(--red);
  }

  .item-name {
    position: relative;
    //padding-left: 5rem;
    max-width: 320px;
    z-index: 1;
    //margin-left: 4rem;
    padding-left: 6rem;
  }

  .item-pictures {
    margin-top: 2rem;
  }

  .item-picture_top {
    max-width: none;
    width: 100%;

    img {
      position: relative;
      width: auto;
      display: block;
    }
  }

  .item-picture_bottom {
    img {
      position: relative;
      width: auto;
    }
  }
}

.item-1 {
  &::after {
    bottom: -50px;
    width: 76px;
    left: 30%;
  }
  .item-picture_top {
    img {
      height: 135px;
      max-width: 65%;
    }
  }

  .item-picture_bottom {
    flex-direction: row-reverse;

    img {
      height: 172px;
      max-width: 65%;
      margin-left: auto;
    }
  }

  .item-pictures {
    margin-top: 0;
  }

  .item-name {
    position: absolute;
    margin-left: 0;
    left: 6rem;
    top: 1rem;
    padding-left: 0;
  }
}

.item-2 {
  margin-top: 12rem;
  &::after {
    bottom: -50px;
    width: 76px;
    right: 15%;
  }
  .item-picture_top {
    img {
      height: 159px;
      max-width: 75%;
      margin-left: auto;
    }
  }

  .item-picture_bottom {
    img {
      height: 172px;
      max-width: 65%;
    }
  }

  .item-name {
    position: absolute;
    padding-left: 0;
    left: 4rem;
    margin-left: 0;
    top: 1rem;
  }


  .item-pictures {
    margin-top: 0;
  }
}

.item-3 {
  &::after {
    width: 100px;
    transform: rotate(90deg);
    right: -30px;
    bottom: 50px;
  }
  .item-picture_top {
    img {
      height: 171px;
      margin-left: auto;
      max-width: 70%;
    }
  }

  .item-picture_bottom {
    transform: translateY(-75px);

    img {
      height: 144px;
      max-width: 40%;
    }
  }

  .item-name {
    margin-left: 4rem;
    padding-left: 0;
  }

  .item-description {
    transform: translateY(-60px);
  }

  .img-decor {
    //top: 0;
    left: 25px;
    transform-origin: left bottom;
    transform: rotate(-90deg);
  }
}

.item-4 {
  margin-top: 0;
  &::after {
    bottom: -50px;
    width: 76px;
    right: 15%;
  }
  .item-picture_top {
    img {
      max-width: 65%;
      height: 135px;
    }
  }

  .item-picture_bottom {
    img {
      max-width: 65%;
      margin-left: auto;
      height: 120px;
    }

  }

  .img-decor {
    left: 0;
    top: 0;
    width: 67px;
  }
}

.item-5 {
  .img-decor {
    left: 40px;
    top: -50px;
    width: 67px;
  }
  .item-picture_top {
    img {
      height: 160px;
      margin-left: auto;
    }
  }

  .item-picture_bottom {
    img {
      height: 120px;
      max-width: 55%;
    }
  }

  .item-name {
    max-width: none;
  }
}

.item-6 {
  .img-decor {
    left: 90px;
    top: -50px;
    width: 25px;
  }
  .item-picture_top {
    img {
      height: 103px;
      margin-left: auto;
      max-width: 55%;
    }
  }

  .item-picture_bottom {
    img {
      height: 172px;
      max-width: 70%;
    }
  }
}

.item-7 {
  .img-decor {
    left: 0;
    top: -30px;
    width: 30px;
  }
  .item-picture_top {
    img {
      height: 172px;
      margin-left: auto;
      max-width: 70%;
    }
  }

  .item-picture_bottom {
    transform: translateY(-81px);

    img {
      height: 149px;
      max-width: 40%;
    }
  }


  .item-description {
    transform: translateY(-60px);
  }
}

.item-8 {
  .img-decor {
    left: 100px;
    top: -50px;
    width: 68px;
  }
  .item-picture_top {
    img {
      height: 108px;
      margin-left: auto;
      max-width: 50%;
    }
  }

  .item-picture_bottom {
    img {
      height: 172px;
      max-width: 70%;
    }
  }
}

.item-9 {
  .img-decor {
    right: 5px;
    top: -50px;
    width: 68px;
  }
  .item-picture_top {
    img {
      height: 108px;
      max-width: 50%;
    }
  }

  .item-picture_bottom {
    flex-direction: row-reverse;

    img {
      height: 172px;
      max-width: 70%;
      margin-left: auto;
    }
  }
}

.item-10 {
  .item-picture_top {
    img {
      height: 171px;
      max-width: 65%;
    }
  }

  .item-picture_bottom {
    flex-direction: row-reverse;

    img {
      height: 114px;
      max-width: 55%;
      margin-left: auto;
    }
  }

  .img-decor {
    left: 0;
    top: 0;
    width: 67px;
  }
}

.item-11 {
  .item-picture_top {
    img {
      height: 173px;
      max-width: 75%;
      margin-left: auto;
    }
  }

  .item-picture_bottom {
    img {
      height: 162px;
      max-width: 75%;

    }
  }
}

.img-decor {
  height: 30px;
  width: 46px;
  background-color: var(--yellow);
  position: absolute;

  &.t {
    bottom: 100%;
  }

  &.b {
    top: 100%;
  }
}


@import "media";